.header {
  .header__text {
    > h1 {
      font-size: 5rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    > p {
      width: 500px;
      font-weight: 400;
      font-family: "Poppins, sans-serif";
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 1px;
    }
  }

  .header__img {
    margin-top: 2rem;
    > img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .header__text {
      > h1 {
        font-size: 3rem;
      }

      > p {
        width: 100%;
      }
    }
  }
}
